.Amanda-Image {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 160px;
    max-width: 100% ;
    }
.about-container {
    padding: 60px;
}
.about-container-text {
    background-color: rgb(133, 126, 123, 0.9);
    height:250px;
    width: 90%;
    margin: 5%;
    margin-top: 25%;
    padding: 2%;
}
#about-header {
    color: rgb(245, 8, 8);
}
#about-text {
    color: rgb(8, 245, 40);
}
@media only screen and (max-width:660px) {
    .Amanda-Image {
        padding: 20px;
        margin-top: 0px;
    }
    .about-container {
        padding: 0px;
    }
            
    .about-container-text {
        margin: 2%;
        padding: 10px;
    }
    .about-container-text {

        width: 100%;
    }
}