body, html {
  height: 100%;
  background-image: url(./images/bodyImage.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  }
.card {
  background-color: transparent;
}
#project-button {
  background-color: rgb(133, 126, 123, 0.9);
  color: white;
  font-size: 35px;
  padding: 30px;
  border: 2px solid  rgb(133, 126, 123);
  }
/* unvisited link */
a, #github, #website, .external-links:link {
  color: rgb(39, 19, 46);
  text-decoration: none;
}
  
  /* visited link */
a, #github, #website, .external-links:visited {
  color: gainsboro;
  text-decoration: none;
}
  
  /* mouse over link */
a, #github, #website, .external-links:hover {
  color: black;
  text-decoration: none;
}
  
  /* selected link */
a, #github, #website, .external-links:active {
  color: rgb(184, 53, 103) !important;
  text-decoration: none;
}
.resumeWrapper {
    padding-top: 40px;
    margin-bottom: 5%;
}
#portfolioButton{
  border-radius: 0.3rem;
  padding: .5rem 1rem;
  background-color: rgb(184, 53, 103);
  border: 2px solid rgb(184, 53, 103);
  color: white;
  font-size: 25px;
  text-align: center;
  border: none;
}
.content.card-body {
  background-color: rgb(133, 126, 123, 0.9);  
  border: 2px solid  rgb(133, 126, 123);
  padding: 5%;
}
.wrapper {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
header {
  background-color: rgb(133, 126, 123, 0.9);  
  border: 2px solid  rgb(133, 126, 123);
  color: rgb(109, 9, 52);
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 38px;
  padding: 20px;
  margin-top: 5%;
}
.page-header {
  background-color: rgb(133, 126, 123, 0.9);  
  border: 2px solid  rgb(133, 126, 123);
  color: rgb(109, 9, 52);
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 38px;
  padding: 20px;
  margin-top: 5%;
}
.buttonWrapper {
  padding-top: 10px;
  padding-bottom: 80px;
  }
.Resume {
  color: white !important;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 25px;
  text-align: center;
  background-color: rgb(184, 53, 103);
  border: 2px solid rgb(184, 53, 103);
  border: none;
}
.profile, .btn-lg {
  display: block;
  margin: 0 auto;
  align-items: center !important;
  font-size: 25px !important;
  } 
.external-links {
  margin: 20px;
}
.portfolio-link {
  text-align: center;
}
.icons {
  align-content: center;
  text-align: center;
  padding-bottom: 20px;;
}
.card {
  max-width: 500px;
}
#contact-button {
  background-color: rgb(184, 53, 103, 0.9);
  border: 2px solid rgb(184, 53, 103);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  border-radius: .5rem;
  }















/* main {
min-height: calc(100vh - 238px);
display:block; 
}

button {
background-color: #5586B8;
border-color: #5586B8;
border: none;
color: white;
align-items: center;
}

h1 {
color: #1F8832;
font-style: bold;
font-size: 50px;
text-align: center;
padding-top: 10px;
padding-bottom: 20px;
}

.AmandaAnderson {
font-weight: bold;
font-size: 60px;
}

.nav-link , .mr-auto {  
font-size: 20px;
float:right;
margin-left: auto;
margin-right: auto;
} */

/* unvisited link */
/* a, .nav-link:link {
color: #707070 !important;
text-decoration: none;
}

/* visited link */
/* a, .nav-link:visited {
color: #707070 !important;
text-decoration: none;
} */

/* mouse over link */
/* a, .nav-link:hover {
color: #1F8832 !important;
text-decoration: none !important;
} */

/* selected link */
/* a, .nav-link:active {
color: #707070 !important;
text-decoration: none;
} */ */

/*  ABOUT PAGE CONTAINER  */
/* .App-header {
background-color: #F4F7FA;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

a, #link {
color:#1F8832 !important;
}



.about-container-text {
background-color: white;
padding: 50px;
border-radius: .5rem
}

#about-header {
font-size: 45px;
color: #5586B8;
font-style: italic;
padding-bottom: 10px;
}

#about-text {
font-size: 25px;
line-height: 48px;
}

#link {
color: #1F8832;
}

/* FEATURED PROJECTS  */

/* #projects {
padding-bottom: 0px;
} */ */

/* .wrapper {
padding: 40px;
background-color: #F4F7FA;
height: 100%;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-content: flex-start;
overflow: auto;
} */

/* SKILLS CONTAINER */

/* display: block !important allows cells to stack on mobile */
/* th {
font-weight: lighter;
}

.table-responsive {
background-color: #F4F7FA;
font-size: 40px;
text-align: center;
padding: 80px;
height: 100%;
} */

/* unvisited link */
/* a, #portfolioButton:link {
color: white;
text-decoration: none;
}
 */
/* visited link */
/* a, #portfolioButton:visited {
color: white;
text-decoration: none;
} */

/* mouse over link */
/* a, #portfolioButton:hover {
color: white !important;
text-decoration: none !important;
} */

/* selected link */
/* a, #portfolioButton::active {
color: white;
text-decoration: none;
} */
/* ********MOBILE RESPONSIVE******* */
/* ********************************
*/

@media only screen and (max-width:660px) {
  .card-text {
    padding: 0px;
  }

  p, #about-text {
  font-size: 18px;
  line-height: 40px;
  padding: 0px;
  }

  p, #about-header {
  font-size: 40px;
  padding: 0px;
  }
/* 
p, #card-text {
font-size: 14px;
line-height: 30px;
}

p, #card-title {
font-size: 16px !important;
line-height: 30px;
} */

  #github, #website{
    font-size: 15px !important;
    margin:5px;
  }

  .buttonWrapper {
    padding-bottom: 30px;
  }

}
