body, html {
  height: 100%;
  background-image: url(./images/bodyImage.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  }
.card {
  background-color: transparent;
}
#project-button {
  background-color: rgb(133, 126, 123, 0.9);
  color: white;
  font-size: 35px;
  padding: 30px;
  border: 2px solid  rgb(133, 126, 123);
  }
/* unvisited link */
a, #github, #website, .external-links:link {
  color: rgb(39, 19, 46);
  text-decoration: none;
}
  
  /* visited link */
a, #github, #website, .external-links:visited {
  color: gainsboro;
  text-decoration: none;
}
  
  /* mouse over link */
a, #github, #website, .external-links:hover {
  color: black;
  text-decoration: none;
}
  
  /* selected link */
a, #github, #website, .external-links:active {
  color: rgb(184, 53, 103) !important;
  text-decoration: none;
}
.resumeWrapper {
    padding-top: 40px;
    margin-bottom: 5%;
}
#portfolioButton{
  border-radius: 0.3rem;
  padding: .5rem 1rem;
  background-color: rgb(184, 53, 103);
  border: 2px solid rgb(184, 53, 103);
  color: white;
  font-size: 25px;
  text-align: center;
  border: none;
}
.content.card-body {
  background-color: rgb(133, 126, 123, 0.9);  
  border: 2px solid  rgb(133, 126, 123);
  padding: 5%;
}
.wrapper {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
header {
  background-color: rgb(133, 126, 123, 0.9);  
  border: 2px solid  rgb(133, 126, 123);
  color: rgb(109, 9, 52);
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 38px;
  padding: 20px;
  margin-top: 5%;
}
.page-header {
  background-color: rgb(133, 126, 123, 0.9);  
  border: 2px solid  rgb(133, 126, 123);
  color: rgb(109, 9, 52);
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 38px;
  padding: 20px;
  margin-top: 5%;
}
.buttonWrapper {
  padding-top: 10px;
  padding-bottom: 80px;
  }
.Resume {
  color: white !important;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 25px;
  text-align: center;
  background-color: rgb(184, 53, 103);
  border: 2px solid rgb(184, 53, 103);
  border: none;
}
.profile, .btn-lg {
  display: block;
  margin: 0 auto;
  align-items: center !important;
  font-size: 25px !important;
  } 
.external-links {
  margin: 20px;
}
.portfolio-link {
  text-align: center;
}
.icons {
  align-content: center;
  text-align: center;
  padding-bottom: 20px;;
}
.card {
  max-width: 500px;
  box-shadow: 0 2px 4px antiquewhite;
}
#contact-button {
  background-color: rgb(184, 53, 103, 0.9);
  border: 2px solid rgb(184, 53, 103);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  border-radius: .5rem;
  }
  .table-sm {
    padding: 1rem;
  }

  tr {
    border: none;
    background-color: rgba(250, 250, 250, 0.75);
    height: 55px;
    padding: 2%;
  }

  td {
    font-size: 20px;
  }














@media only screen and (max-width:660px) {
  .card-text {
    padding: 0px;
  }

  p, #about-text {
  font-size: 18px;
  line-height: 40px;
  padding: 0px;
  }

  p, #about-header {
  font-size: 40px;
  padding: 0px;
  }

  #github, #website{
    font-size: 15px !important;
    margin:5px;
  }

  .buttonWrapper {
    padding-bottom: 30px;
  }

}
